/* Base */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: sans;
    font-size: 1em;
}

#logo {
    margin: auto;
    display: block;
    border: 0;
}

#banner {
    background: url('../images/gradient.png') repeat-x;
    margin-bottom: 1em;
}

#primary-site-nav ul {
    text-align: center;
    font-size: smaller;
    margin: 0;
    padding: 0.3em;
    background-color: black;
    border-top: 0.4em solid #46a;
}

#primary-site-nav ul li {
    display: inline;
    padding: 0 0.5em;
}

#primary-site-nav ul a {
    color: #ccc;
    text-decoration: none;
    border-bottom: 0.1em solid black;
    border-top: 0.1em solid black;
}

#primary-site-nav ul a:hover {
    border-bottom: 0.1em solid gold;
    border-top: 0.1em solid gold;
}

#main {
    margin: 2em;
    padding: 0.5em 0em;
}

#main h1 {
    font-size: 2em;
    margin: 0 0 0.25em 0;
    border-bottom: 0.05em solid #ddd;
    color: #666;
}

#main h2 {
    font-size: 1.5em;
    margin: 0 0 0.25em 0;
    color: #999;
}

#main section {
    margin: 0.5em 0 1.25em 0;
}

#main p {
    margin: 0;
}

#about {
    font-size: small;
    margin-top: 2em;
    padding: 0.4em;
    clear: both;
    border-top: 0.1em solid #ddd;
}

#secondary-site-nav ul {
    text-align: center;
    font-size: smaller;
    margin: 0;
    float: right;
}

#secondary-site-nav ul li {
    display: inline;
    padding: 0 0.5em;
}

#copyright {
    margin: 0;
    font-size: smaller;
    color: #ddd;
}

/* Base Content */
#content {
    margin-right: 22em;
}

#sidebar {
    width: 20em;
    clear: right;
    float: right;
}

#sidebar section {
    padding: 1em;
    margin-bottom: 1em;
    border: 0.1em solid #ddd;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
}

#sidebar h1 {
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    color: #666;
    padding: 0.1em 0.1em 0.1em 0.75em;
    border-bottom: 0.2em solid #46a;
}

#sidebar p {
    padding: 1em;
    font-size: small;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    margin: 0.5em 0.5em 0 0.5em;
    list-style-type: none;
}

#sidebar li a {
    margin: 0 -1em;
}

#sidebar li a,.button,input[type=image] {
    display: block;
    padding: 0.3em 1em;
    text-decoration: none;
    border: 0.1em solid white;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
}

.button,input[type=image] {
    display: inline;
    margin: 0.2em;
    border: 0.1em solid #ddd;
    font-weight: bold;
    text-align: center;
    color: #46a;
}

.button:hover,input[type=image]:hover {
    border: 0.1em solid #46a;
}

/* Sign In */
.connect-button {
    display: inline;
}

#google-login {
    padding: 14px 27px 14px 28px;
}

#yahoo-login {
    padding: 22px 23px 22px 23px;
}

#facebook-login {
    padding: 17px 11px 18px 12px;
}

#twitter-login {
    padding: 22px 30px 22px 31px;
}

#aol-login {
    padding: 15px 24px 16px 25px;
}

#openid-login {
    padding: 17px 27px 18px 28px;
}

/* HTML5 tags */
header,section,footer,aside,nav,article,figure {
    display: block;
}