{% load socialregistration_tags %}
{% load twitter_tags %}

<section>
    {% if not user.is_active %}
        <h1>Sign In</h1>
        <p>
            Already have an account with one of these organizations?
            Then you already have an account with organizur!
        </p>

        <a href="#"><img class="button" id="google-login" src="{{ STATIC_URL }}/images/login/google.gif" /></a>
        <a href="#"><img class="button" id="yahoo-login" src="{{ STATIC_URL }}/images/login/yahoo.png" /></a>

        <form class="connect-button" name="login" method="post" action="{% if logged_in %}{% url facebook_connect %}{% else %}{% url facebook_login %}{% endif %}">
            {% social_csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <input id="facebook-login" type="image" onclick="facebookConnect(this.form);return false;" src="{{ STATIC_URL }}/images/login/facebook.gif" />
        </form>

		<form class="connect-button" name="login" method="post" action="{% url twitter_redirect %}">
            {% social_csrf_token %}
	        {% if next %}
		        <input type="hidden" name="next" value="{{ next }}" />
		    {% endif %}
		    <input id="twitter-login" type="image" onclick="this.form.submit();" src="{{ STATIC_URL }}/images/login/twitter.png" />
		</form>


        <a href="#"><img class="button" id="aol-login" src="{{ STATIC_URL }}/images/login/aol.gif" /></a>
        <a href="#"><img class="button" id="openid-login" src="{{ STATIC_URL }}/images/login/openid.png" /></a>
    {% else %}
        <h1>Account</h1>
        <p>
            Welcome, {{ user.username }}!
        </p>
    {% endif %}
</section>
