{% load facebook_tags %}
{% load twitter_tags %}

<section>
    {% if not user.is_active %}
        <h1>Sign In</h1>
        <p>
            Already have an account with one of these organizations?
            Then you already have an account with organizur!
        </p>

        {% include "core/google_button.html" %}
        {% include "core/yahoo_button.html" %}
        {% facebook_button %}
        {% twitter_button %}

        <footer>
	        <p>
	            Don't have an account with any of these providers?
	            <a href="#">Sign in with organizur</a>!
            </p>
        </footer>

    {% else %}
        <h1>Account</h1>
        <p>
            Welcome, {{ user.username }}!
        </p>
    {% endif %}
</section>
