{% extends 'core/base_sidebar.html' %}

{% block title %}Home{% endblock %}
 
{% block sidebar %}
    <section>
	    <h1>Controls</h1>
		<ul>
		   <li><a href="#">Test</a></li>
		   <li><a href="#">Test</a></li>
	    </ul>
    </section>
    <section>
        <h1>Controls</h1>
        <ul>
           <li><a href="#">Test</a></li>
           <li><a href="#">Test</a></li>
        </ul>
    </section>
    <section>
        <h1>Controls</h1>
        <ul>
           <li><a href="#">Test</a></li>
           <li><a href="#">Test</a></li>
        </ul>
    </section>
{% endblock %}
 
{% block content %}
    <section>
        <h1>Test Header</h1>
        <p>Test Paragraph</p>
    </section>
{% endblock %}
